html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  color: white;
  display: grid;
  grid-template-columns: 26px auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-content: baseline;
  gap: 16px;
  padding: 16px;
  background-color: #5cabfa;
}

.sidebar-left {
  grid-column: 1 / 2;
  display: grid;
  grid-auto-rows: 28px;
}

.sidebar-right {
  grid-column: 2 / 3;
  display: grid;
  grid-auto-rows: 28px;
}

.header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 3fr;
  gap: 32px;
  padding: 24px;
  box-shadow: 0px 4px 4px grey;
  z-index: 2;
}

.main-content {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #e6e6e6;
}

.header-upper-left {
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header-upper-left label svg {
  height: 24px;
}

.header-upper-left input {
  background-color: #e6e6e6;
  height: 24px;
  width: 80%;
  border: none;
  border-radius: 16px;
}

.header-bottom-left {
  display: grid;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.header-bottom-left span {
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 1fr 5fr;
}

.header-bottom-left span img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.header-bottom-left span div {
  display: grid;
  align-content: space-between;
}

.header-bottom-left span div p {
  font-size: 12px;
  font-weight: bold;
}

.header-bottom-left span div h1 {
  font-size: 26px;
  font-weight: bold;
}

.header-upper-right {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.header-upper-right span svg {
  height: 26px;
  width: 26px;
}

.header-upper-right span img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header-upper-right span {
  display: grid;
  grid-template-columns: 26px 40px auto;
  gap: 16px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.header-upper-right span div {
  font-size: 14px;
}

.header-bottom-right {
  display: grid;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.header-bottom-right span {
  display: grid;
  grid-template-columns: repeat(3, 112px);
}

.header-bottom-right span div {
  display: grid;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  color: white;
  background-color: #5cabfa;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  font-weight: bold;
}

.main-content-left {
  display: grid;
  gap: 16px;
  align-content: baseline;
  padding: 16px;
}

.main-content-right {
  display: grid;
  gap: 16px;
  align-content: baseline;
  padding: 16px;
}

.main-content-right-upper {
  display: grid;
  gap: 16px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  gap: 16px;
}

.card {
  font-size: 14px;
  color: gray;
  padding: 16px;
  height: 160px;
  box-shadow: 3px 3px 3px gray;
  z-index: 2;
  border-radius: 8px;
  border-left: 8px solid orange;
  background-color: white;
}

.card .card-title {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.announcements, .trending {
  font-size: 14px;
  display: grid;
  gap: 8px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 3px 3px 3px gray;
  z-index: 2;
}

.announcements {
  gap: 16px;
  padding: 32px;
}

.sidebar svg {
  height: 22px;
  fill: white;
}

.sidebar p {
  display: flex;
  align-items: center;
  font-size: 18px;
}

li {
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
}

.trending span img, .trending span svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.trending span div p:nth-child(2) {
  color: gray;
}

.trending span {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  margin: 8px;
}

.announcements div p {
  color: gray;
}

.announcements div .card-title {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.announcements div:nth-child(2) {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 16px;
  padding-bottom: 16px;
}
