html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: fit-content(12rem) auto;
  grid-template-columns: 13rem auto;
  min-height: 100vh;
}

.sidebar {
  color: white;
  display: grid;
  grid-template-rows: fit-content(3rem) fit-content(10rem) auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-content: baseline;
  gap: 3rem;
  padding: 1rem 1.5rem 1rem 1rem;
  background-color: #5cabfa;
}

.sidebar svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
}

.sidebar a {
  color: white;
  display: grid;
  align-content: center;
}

.sidebar p {
  display: grid;
  align-content: center;
}

.dashboard, .links, .settings {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2rem auto;
}

.dashboard svg, .dashboard p {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: fit-content(7rem) fit-content(10rem);
  grid-row-gap: 1.25rem;
  padding: 1.5rem;
  box-shadow: 0px 4px 4px grey;
  z-index: 2;
}

h2 {
  font-weight: bold;
}

.header-upper-left {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header-upper-left label svg {
  height: 1.5rem;
}

.header-upper-left input {
  background-color: #e6e6e6;
  height: 1.5rem;
  width: clamp(11rem, 70%, 36rem);
  border: none;
  border-radius: 1rem;
}

.header-bottom-left {
  display: grid;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.header-bottom-left span {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 4.5rem auto;
}

.header-bottom-left span div {
  height: 100%;
  display: grid;
  align-content: space-evenly;
}

.header-bottom-left span img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.header-bottom-left span div p {
  font-size: 0.75rem;
  font-weight: bold;
}

.header-bottom-left span div h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.header-upper-right {
  display: grid;
  align-items: center;
  justify-content: end;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.header-upper-right span svg {
  height: 1.6rem;
  width: 1.6rem;
}

.header-upper-right span img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.header-upper-right span {
  display: grid;
  grid-template-columns: 1.6rem 2.5rem auto;
  gap: 1rem;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.header-upper-right span div {
  font-size: 0.9rem;
}

.header-bottom-right {
  display: grid;
  align-items: center;
  justify-content: end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.header-bottom-right span {
  display: grid;
  grid-template-columns: repeat(3, 6.25rem);
  justify-items: end;
}

.header-bottom-right span div {
  display: grid;
  width: 4.75rem;
  height: 2rem;
  border-radius: 1rem;
  color: white;
  background-color: #5cabfa;
  align-items: center;
  justify-items: center;
  font-size: 0.8rem;
}

.main-content {
  display: grid;
  grid-template-columns: auto clamp(12rem, 30%, 24rem);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #e6e6e6;
  padding: 0.5rem;
}

.main-content-left {
  display: grid;
  gap: 1rem;
  align-content: baseline;
  padding: 1rem;
}

.main-content-right {
  display: grid;
  gap: 1rem;
  align-content: baseline;
  padding: 1rem;
}

.main-content-right-upper {
  display: grid;
  gap: 1rem;
}

.main-content-right-bottom {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  gap: 1rem;
}

.card {
  display: grid;
  font-size: 0.9rem;
  color: gray;
  padding: 1rem;
  height: 10rem;
  box-shadow: 3px 3px 3px gray;
  z-index: 2;
  border-radius: 0.5rem;
  border-left: 0.5rem solid orange;
  background-color: white;
  overflow: auto;
}

.card div .card-title {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-icons {
  display: grid;
  grid-template-columns: 2.25rem 2.25rem 2.25rem;
  align-items: end;
  justify-content: end;
}

.card-icons svg {
  height: 1.25rem;
  width: 1.25rem;
}

.announcements, .trending {
  font-size: 0.9rem;
  display: grid;
  gap: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 3px 3px 3px gray;
  z-index: 2;
}

.announcements {
  gap: 1rem;
  padding: 2rem;
}

li {
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
}

.trending span img, .trending span svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.trending span div p:nth-child(2) {
  color: gray;
}

.trending span {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  margin: 0.5rem;
}

.announcements div p {
  color: gray;
}

.announcements div .card-title {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.announcements div:nth-child(2) {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
